In [1]:
import os
import re
import nltk
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
from collections import Counter

from nltk.corpus import wordnet, stopwords
nltk.download('stopwords')
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Yuchy\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
# Get the Fin-Neg Dictionary
dict_csv = pd.read_csv(
    'c:/Users/Yuchy/OneDrive/桌面/NLP/Assignment 1/Data/Loughran-McDonald_MasterDictionary_1993-2021.csv')
dict_csv = dict_csv.query('Negative > 0')['Word']
Fin_Neg = dict_csv.to_list()
Fin_Neg = [word.lower() for word in Fin_Neg]

# Get the H4N-Inf Dictionary
dict_txt = open(
    'c:/Users/Yuchy/OneDrive/桌面/NLP/Assignment 1/Data/Harvard IV_Negative Word List_Inf.txt', 
    'r',
    encoding='utf-8')
H4N_Inf = dict_txt.read().split('\n')
H4N_Inf = [word.lower() for word in H4N_Inf]
dict_txt.close()

In [3]:
# Load multiple txt files
path = 'c:/Users/Yuchy/OneDrive/桌面/NLP/Assignment 1/txt/'
filenames = [f for f in listdir(path) if isfile(join(path, f))]

In [4]:
def txt_process(filename, i):

    # Read the txt file
    text = open(
        path + filename,
        'r',
        encoding='utf-8').read().lower()
    text = re.findall('[a-z][a-z]+', text)  # only extract words with length > 1

    # Remove the stopwords
    StopWord = set(stopwords.words('english'))
    text_final = [word for word in text if not word in StopWord]

    # Lemmatize all the words
    lem = WordNetLemmatizer()
    text_final = [lem.lemmatize(word)
                for word in text_final if len(word) > 1]
    text.close()

    # convert the list to string for tf-idf calculation
    return ' '.join(text_final)

In [5]:
i = 0
txt_ls = []
for filename in filenames:
    #locals()['text' + str(i)] = 
    txt_ls.append(txt_process(filename, i))
    i += 1

In [6]:
# For individual file
'''
# Read the txt file
text = open(
    'c:/Users/Yuchy/OneDrive/桌面/NLP/Assignment 1/txt/sample1.txt', 
    'r',
    encoding='utf-8').read().lower()
text = re.findall('[a-z][a-z]+', text) # only extract words with length > 1

# Remove the stopwords
StopWord = set(stopwords.words('english'))
text_final = [word for word in text if not word in StopWord]

# Lemmatize all the words
lem = WordNetLemmatizer()
text_final = [lem.lemmatize(word) for word in text_final if len(word) > 1]

# Form bag-of-words
word_freq_Fin = {}  # Words Frequency in Fin-Neg Dictionary
word_freq_H4N = {}  # Words Frequency in H4N-Inf Dictionary
for word in text_final:
    if word in Fin_Neg:
        cnt1 = word_freq_Fin.get(word, 0)
        word_freq_Fin[word] = cnt1 + 1
    if word in H4N_Inf:
        cnt2 = word_freq_H4N.get(word, 0)
        word_freq_H4N[word] = cnt2 + 1
'''

"\n# Read the txt file\ntext = open(\n    'c:/Users/Yuchy/OneDrive/桌面/NLP/Assignment 1/txt/sample1.txt', \n    'r',\n    encoding='utf-8').read().lower()\ntext = re.findall('[a-z][a-z]+', text) # only extract words with length > 1\n\n# Remove the stopwords\nStopWord = set(stopwords.words('english'))\ntext_final = [word for word in text if not word in StopWord]\n\n# Lemmatize all the words\nlem = WordNetLemmatizer()\ntext_final = [lem.lemmatize(word) for word in text_final if len(word) > 1]\n\n# Form bag-of-words\nword_freq_Fin = {}  # Words Frequency in Fin-Neg Dictionary\nword_freq_H4N = {}  # Words Frequency in H4N-Inf Dictionary\nfor word in text_final:\n    if word in Fin_Neg:\n        cnt1 = word_freq_Fin.get(word, 0)\n        word_freq_Fin[word] = cnt1 + 1\n    if word in H4N_Inf:\n        cnt2 = word_freq_H4N.get(word, 0)\n        word_freq_H4N[word] = cnt2 + 1\n"

In [7]:
# Calculate tf-idf matrix
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform(txt_ls)
feature_names = vectorizer.get_feature_names()
dense_ls = vectors.todense().tolist()
tf_idf = pd.DataFrame(dense_ls, columns=feature_names)
tf_idf

,aa,aaa,aaaa,aaaaa,aaaaamember,aaaandaaminuscreditratingmember,aaahc,aaalac,aaam,aab,...,zyprexamember,zyrtec,zytel,zytiga,zytigamember,zyvox,zyvoxmember,zz,zzau,zzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10450,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Get the proportion for each text
fin_neg_cols = list(set(tf_idf.columns).intersection(Fin_Neg))
h4n_inf_cols = list(set(tf_idf.columns).intersection(H4N_Inf))
fin_neg_scores = tf_idf[fin_neg_cols].sum(axis=1) / tf_idf.sum(axis=1)
h4n_inf_scores = tf_idf[h4n_inf_cols].sum(axis=1) / tf_idf.sum(axis=1)
# fin_neg_scores = tf_idf[fin_neg_cols].sum(axis=1)
# h4n_inf_scores = tf_idf[h4n_inf_cols].sum(axis=1)
scores = pd.concat([fin_neg_scores, h4n_inf_scores], axis=1)\
    .rename(columns={0:'fin_neg_scores', 1:'h4n_inf_scores'})
scores['cik'] = [re.split('[_.]', word)[0] for word in filenames]
scores['date'] = [re.split('[_.]', word)[1] for word in filenames]
scores.to_csv('tfidf_scores_test.csv')
scores

       fin_neg_scores  h4n_inf_scores      cik        date
0            0.035230        0.072861  1000228  2016-02-10
1            0.040757        0.077749  1000228  2016-05-03
2            0.037062        0.077910  1000228  2016-08-04
3            0.035490        0.076647  1000228  2016-11-02
4            0.034043        0.073779  1000228  2017-02-21
...               ...             ...      ...         ...
10446        0.032713        0.069161    97745  2020-10-30
10447        0.028968        0.070449    97745  2021-02-25
10448        0.021976        0.060618    97745  2021-05-07
10449        0.021716        0.062845    97745  2021-08-06
10450        0.021468        0.063436    97745  2021-11-04

[10451 rows x 4 columns]

In [9]:
# Calculate the simple proportion of negative words for each text
prop_fin_neg = []
prop_h4n_inf = []
null_file = []
j = 0
for txt in txt_ls:
    txt_tmp = txt.split()
    words_dict = Counter(txt_tmp)
    
    # print(sum(words_dict.values()))
    try:
        prop_fin_neg.append(sum(words_dict[item]
                            for item in Fin_Neg) / sum(words_dict.values()))
        prop_h4n_inf.append(sum(words_dict[item]
                            for item in H4N_Inf) / sum(words_dict.values()))
    except:
        null_file.append(j)
    j += 1

In [10]:
props = pd.DataFrame()
mod_filenames = [item for item in filenames if item not in [
    filenames[i] for i in null_file]]
props['fin_neg_prop'] = prop_fin_neg
props['h4n_inf_prop'] = prop_h4n_inf
props['cik'] = [re.split('[_.]', word)[0] for word in mod_filenames]
props['date'] = [re.split('[_.]', word)[1] for word in mod_filenames]
props.to_csv('props_test.csv')
props

       fin_neg_prop  h4n_inf_prop      cik        date
0          0.026823      0.075888  1000228  2016-02-10
1          0.028172      0.077426  1000228  2016-05-03
2          0.025308      0.078255  1000228  2016-08-04
3          0.024473      0.077950  1000228  2016-11-02
4          0.026553      0.077303  1000228  2017-02-21
...             ...           ...      ...         ...
10265      0.024407      0.074973    97745  2020-10-30
10266      0.024706      0.079725    97745  2021-02-25
10267      0.019698      0.066303    97745  2021-05-07
10268      0.019373      0.067353    97745  2021-08-06
10269      0.019484      0.068545    97745  2021-11-04

[10270 rows x 4 columns]